* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background-color: #F1B100 !important; /* fundo amarelo GLOBAL */
}

body {
  font-family: Arial, sans-serif;
}
